.roadmap-body {
  padding-top: 0 !important;

  thead {
    display: none;
  }
}

.scene {
  width: 380px;
  perspective: 70vw;
  position: relative;
}
.scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
}

.carousel__cell {
  position: absolute;
  width: 360px;
  left: 10px;
  filter: brightness(0.95);
  opacity: 0.25;
  transition: all 1s;
}

.carousel__cell.active {
  filter: unset;
  opacity: 1;
}
