.flayout {
  // overflow: auto;
  // height: 100vh;
  padding-top: var(--nextui--navbarHeight);

  @media (max-width: 960px) {
    padding-top: var(--nextui--navbarCompactHeight);
  }
}

.navbar {
  z-index: 999 !important;
  position: fixed !important;
  background: transparent;

  .nextui-navbar-container {
    justify-content: center;
    max-width: calc(var(--nextui-breakpoints-md) - var(--nextui-space-md));
    // margin: var(--nextui-space-xs) var(--nextui-space-md) !important;
    padding: var(--nextui-space-sm);
    max-width: 100%;

    > div {
      margin: 0;
      // max-width: 100%;
    }
  }

  @media (min-width: 960px) {
    .nextui-collapse {
      border: none;
      .nextui-collapse-view {
        + div  {
          position: absolute;
          padding: 0.8rem 0.8rem 0;
          border: 1px solid var(--nextui--navbarBorderColor);
          border-top: unset;
          border-bottom-left-radius: var(--nextui-radii-lg);
          border-bottom-right-radius: var(--nextui-radii-lg);
          background: var(--nextui--navbarBlurBackgroundColor);
    backdrop-filter: saturate(180%) blur(var(--nextui--navbarBlur));
    top: var(--nextui--navbarHeight);  
  }
      }
    }
  }
}

.tlogin-button {
  border-radius: 16px;
  overflow: hidden;
  display: flex;
}

.tconnect-button,
.tlogin-button {
  display: none;
}

#tc-widget-root > tc-root > div {
  z-index: 999999;
}

@media (max-width: 480px) {
  #ton-connect-button > div {
    display: none;
  }
}

.nextui-collapse-view {
  padding: 8px 0 !important;
}

.Toastify {
  z-index: 99999;
  position: absolute;
}