.dcalc {
  input {
    padding-right: 0;
    // margin-right: 0 !important;
  }
  .nextui-input-container--input .nextui-input-content {
    width: auto;
    padding-right: 0;
  }

  .nextui-input-wrapper--with-value {
    padding-right: 0;
  }
}