.diamond-item {
  cursor: pointer;
  border: 1px solid var(--nextui-colors-blue100);
  transition: all 300ms;
  background-color: #fff;

  img {
    opacity: 0.75;
    transition: all 300ms;
  }

  &.selected img {
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1.2) translate3d(0, 5px, 0);
  }

  &.selected img,
  img:hover {
    border: 1px solid var(--nextui-colors-primary);
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1.2) translate3d(0, 5px, 0);
  }
}

html:not([class*="light-theme"]) .diamond-item {
  border-color: var(--nextui--navbarBorderColor);
  background-color: #121212;
}
